<!DOCTYPE html>
<html lang="en">
<head>
  <title>Snazzy Contacts | The Stereotypical Contact List App's Sexy Older Brother</title>
  <!-- Meta tag -->
  <meta name="viewport" content="width=device-width">
  <!-- Normalize -->
  <link rel="stylesheet" href="/stylesheets/css/normalize.css">
  <!-- Open Sans Font -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <!-- Bootstrap 4 -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
  <!-- Obvious buttons -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/obvious-buttons.css">
  <!-- Pikaday date picker -->
  <link rel="stylesheet" href="/stylesheets/css/pikaday.css">
  <!-- SpinKit loading animation -->
  <link rel="stylesheet" href="/stylesheets/css/spinkit.css">
  <!-- Octicons -->
  <link rel="stylesheet" href="/octicons/octicons.css">


  <!-- Custom styles -->
  <link rel="stylesheet" href="/stylesheets/css/application.css">

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
  <!-- Moment.JS for date picker -->
  <script src="/javascript/moment.js"></script>
  <!-- Pikaday date picker -->
  <script src="/javascript/pikaday.js"></script>
  <!-- Custom JS -->
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <div class='loading-container'>
    <div class='loading-div'></div>
    <div class="sk-rotating-plane"></div>
  </div>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
